@import "tailwindcss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  --clock-bg: radial-gradient(circle at center, #111111 80%, #000000 100%);
  --hand-color: #ffd700;
  --hand-glow1: #ffcc00;
  --hand-glow2: #fff07a;
  --dot-color: #ffd700;
  --dot-glow1: #ffd700;
  --dot-glow2: #fff07a;
  --theme-title:#ffd700;
  --full-bg: #000000;
  --theme-button-bg: #222222;
  --theme-button-active: #29281f;
}
.themelight {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@media (prefers-color-scheme: neon) {
  :root {
    --background: #0a0a0a;
    --foreground: #00ffea;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
